<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <br/>
        <h1>Create a new blog post</h1>
        <div class="post-preview">
            <form ng-submit="createBlog.createPost()">

                <input placeholder="Title of Blog" type="text" name="title" ng-model="createBlog.title" required=""><br/><br/>
                <input placeholder="Author" type="text" name="author" ng-model="createBlog.author"><br/><br/>

                <textarea rows="4" cols="50" ng-model="createBlog.bodyHtml" required="">
                        
                   </textarea>
                <br/><br/>
                <input type="submit" value="Create Blog">



            </form>
        </div>
        <hr>



        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#/">Back to Home &rarr;</a>
            </li>
        </ul>
    </div>
</div>